/* .navbar {
    width: 100% !important;
    justify-content: space-around !important;
} */

/* .links {
    color: rgb(167, 40, 40) ;
    font-weight:700;
    border-bottom: 1px solid rgb(167, 40, 40);
} */